---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

During last times I have been busy designing and implementing several new programs focused on Data Science: 
a <u><a href="http://www.ub.edu/datascience/postgraduate/">postgraduate course</a></u>, a hand-on course for continous education and 
lastly, a full <u><a href="http://www.ub.edu/datascience/master/">Master Program</a></u> at 
UB devoted to Foundations of Data Science, both in theory and technologies.

### Present
+ DataScience@UB: Postgraduate course and Master on Data Science and Big Data
+ Algorithmics (1st semester, CS Degree)
+ New Uses of Computer Science (5th semester, CS Degree)
+ Deep Learning (2ond semester, Master of Fundamentals of Data Science)

### 2007-2015
+ Computer Vision (CS Degree)
+ Artificial Intelligence (CS Degree)
+ Introduction to Programming (CS Degree)
+ Human and Object Recognition (Master Program)

<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
