---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

During last times I have been busy designing and implementing several new programs focused on Data Science: 
a postgraduate course , a hand-on course for continous education and lastly, a full Master Program at 
UB devoted to Foundations of Data Science , both in theory and technologies.

<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
