---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

During last times I have been busy designing and implementing several new programs focused on Data Science: 
a <u><a href="http://www.ub.edu/datascience/postgraduate/">postgraduate course</a></u>, a hand-on course for continous education and 
lastly, a full <u><a href="http://www.ub.edu/datascience/master/">Master Program</a></u> at 
UB devoted to Foundations of Data Science, both in theory and technologies.

<h3> Present </h3>
<ul>
  <li>DataScience@UB: Postgraduate course on Data Science and Machine Learning (Face-to-face and online)</li> 
  <li>Algorithmics (1st semester, CS Degree)</li>
  <li>New Uses of Computer Science (5th semester, CS Degree)</li>
  <li>Deep Learning (1st semester, Master of Fundamental Principles of Data Science)</li>
  <li>Ethical Data Science (1st semester, Master of Fundamental Principles of Data Science)</li>
</ul>


<h3> 2007-2015 </h3>
<ul>
  <li>Computer Vision (CS Degree)</li>
  <li>Artificial Intelligence (CS Degree)</li>
  <li>Introduction to Programming (CS Degree)</li>
  <li>Human and Object Recognition (Master Program)</li>
  <li>Introduction to Algorithmics(CS Degree)</li>
</ul>

<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
